<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card" data-table-id="AppTable">
    <div class="layui-card-body padding-left-20">
        <fieldset class="layui-bg-gray">
            <legend><b class="layui-badge think-bg-blue">基本信息</b></legend>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs12">
                    <label class="block relative">
                        <span class="help-label"><b>名称</b>Name</span>
                        <input name="name" value='{$vo.name|default=""}' required vali-name="应用名称" placeholder="请输入小程序应用名称" class="layui-input" />
                        <span class="help-block">用于标识小程序的名称</span>
                    </label>
                </div>
                <div class="layui-col-xs12">
                    <span class="help-label"><b>图标</b>logo</span>
                    <div class="relative block">
                        <input class="layui-input" vali-name="工具图标" data-tips-image data-tips-hover placeholder="请上传工具图标? value="{$vo.logo|default=''}" name="logo" />
                        <a class="input-right-icon layui-icon layui-icon-upload-drag" data-file="btn" data-type="png,jpg,jpeg" data-field="logo"></a>
                    </div>
                    <span class="help-block">工具在小程序中显示的图标，建议尺寸?4x64</span>
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-bg-gray">
            <legend><b class="layui-badge think-bg-blue">微信配置</b></legend>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs6">
                    <label class="block relative">
                        <span class="help-label"><b>appid</b>微信小程序appid</span>
                        <input name="appid" value='{$vo.appid|default=""}' required vali-name="appid" placeholder="请输入微信小程序appid" class="layui-input" />
                        <span class="help-block">微信公众平台获取的小程序appid</span>
                    </label>
                </div>
                <div class="layui-col-xs6">
                    <label class="block relative">
                        <span class="help-label"><b>appsecret</b>微信小程序密钥?/span>
                        <input name="appsecret" value='{$vo.appsecret|default=""}' required vali-name="appsecret" placeholder="请输入微信小程序密钥" class="layui-input" type="password" lay-affix="eye" />
                        <span class="color-desc">请妥善保管，不要泄露</span>
                    </label>
                </div>
            </div>
            <div class="layui-row layui-col-space15 margin-top-15">
                <div class="layui-col-xs6">
                    <label class="block relative">
                        <span class="help-label"><b>token</b>消息校验token</span>
                        <input name="token" value='{$vo.token|default=""}' placeholder="请输入消息校验token" class="layui-input" />
                        <span class="help-block">消息推送时用于校验的token，可自定义</span>
                    </label>
                </div>
                <div class="layui-col-xs6">
                    <label class="block relative">
                        <span class="help-label"><b>encodingaeskey</b>消息加密密钥</span>
                        <input name="encodingaeskey" value='{$vo.encodingaeskey|default=""}' placeholder="请输入消息加密密钥" class="layui-input" />
                        <span class="help-block">43位字符，由微信公众平台随机生成?/span>
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-bg-gray">
            <legend><b class="layui-badge think-bg-blue">其他设置</b></legend>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs12">
                    <label class="block relative">
                        <span class="help-label"><b>备注</b>Remark</span>
                        <textarea name="remark" placeholder="请输入备注信息" class="layui-textarea">{$vo.remark|default=''}</textarea>
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type="hidden" value="{$vo.id}" name="id" />{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type="submit">保存数据</button>
        <button class="layui-btn layui-btn-danger" type="button" data-close>取消操作</button>
    </div>
</form>
