{extend name="../../admin/view/table"}

{block name="button"}
<!--{if auth("logoutAll")}-->
<button data-action='{:url("logoutAll")}' data-value="user_id#{$get.user_id|default=''}" data-confirm="{:lang('确定要退出该用户所有设备吗？')}" data-table-id="UserTokenTable" class="layui-btn layui-btn-sm layui-btn-danger" {if empty($get.user_id)}style="display:none"{/if}>
    <i class="layui-icon layui-icon-fire"></i> {:lang('退出全部设备')}
</button>
<!--{/if}-->
{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='user/token/index_search'}
    <table id="UserTokenTable" data-url="{:sysuri('index')}{notempty name='get.user_id'}?user_id={$get.user_id}{/notempty}" data-target-search="form.form-search"></table>
</div>

<script>
    var langUnlimited = '{:lang("无限制")}';
    $(function () {
        $('#UserTokenTable').layTable({
            even: true, height: 'full',
            sort: {field: 'id', type: 'desc'},
            cols: [[
                {field: 'id', title: 'ID', width: 70, align: 'center', sort: true},
                {field: 'user_id', title: 'UserID', width: 220, align: 'center'},
                {field: 'device_model', title: '{:lang("设备")}', width: 180, align: 'center', templet: '#DeviceInfoTpl'},
                {field: 'sdk_version', title: 'SDK {:lang("版本")}', width: 110, align: 'center'},
                {field: 'app_version', title: '{:lang("小程序")}', width: 90, align: 'center'},
                {field: 'app_channel', title: '{:lang("渠道")}', width: 80, align: 'center'},
                {field: 'client_ip', title: 'IP', width: 140, align: 'center'},
                {field: 'login_at', title: '{:lang("登录时间")}', width: 165, align: 'center', sort: true, templet: '#LoginTimeTpl'},
                {field: 'status', title: '{:lang("状态")}', width: 110, align: 'center', templet: '#StatusSwitchTpl'},
                {toolbar: '#toolbar', title: '{:lang("操作")}', width: 100, align: 'center', fixed: 'right'}
            ]]
        });
        layui.form.on('switch(StatusSwitch)', function (obj) {
            var data = {token: obj.value, status: obj.elem.checked > 0 ? 1 : 0};
            $.form.load("{:url('logout')}", data, 'post', function (ret) {
                if (ret.code < 1) $.msg.error(ret.info, 3, function () {
                    $('#UserTokenTable').trigger('reload');
                }); else $('#UserTokenTable').trigger('reload');
                return false;
            }, false);
        });
    });
</script>

<script type="text/html" id="StatusSwitchTpl">
    <!--{if auth("logout")}-->
    <input type="checkbox" value="{{d.token}}" lay-skin="switch" lay-text="{:lang('有效')}|{:lang('失效')}" lay-filter="StatusSwitch" {{-d.status>0?'checked':''}}>
    <!--{else}-->
    {{-d.status ? '<b class="color-green">{:lang("有效")}</b>' : '<b class="color-red">{:lang("失效")}</b>'}}
    <!--{/if}-->
</script>

<script type="text/html" id="DeviceInfoTpl">
    {{# if(d.device_model){ }}
    <span class="layui-badge layui-bg-gray" title="OS: {{d.device_system}}">{{d.device_model}}</span>
    {{# }else{ }}
    <span class="color-gray">-</span>
    {{# } }}
</script>

<script type="text/html" id="LoginTimeTpl">
    {{# if(d.login_at){ }}
    {{layui.util.toDateString(new Date('{{d.login_at}}').getTime(), 'yyyy-MM-dd HH:mm:ss')}}
    {{# }else{ }}
    -
    {{# } }}
</script>

<script type="text/html" id="toolbar">
    <!--{if auth("logout")}-->
    <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="{:lang('确定要退出该设备吗？')}" data-action="{:url('logout')}" data-value="token#{{d.token}}" data-table-id="UserTokenTable">{:lang('退出')}</a>
    <!--{/if}-->
</script>

{/block}
