<form class="layui-form layui-form-pane form-search" action="{:sysuri()}" onsubmit="return false" method="get" autocomplete="off">
    <fieldset>
        <legend>{:lang('条件搜索')}</legend>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('卡密码')}</label>
            <div class="layui-input-inline">
                <input name="card_code" value="{$get.card_code|default=''}" placeholder="{:lang('请输入卡密码')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('批次号')}</label>
            <div class="layui-input-inline">
                <input name="batch_no" value="{$get.batch_no|default=''}" placeholder="{:lang('请输入批次号')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('启用状态')}</label>
            <div class="layui-input-inline">
                <select name="status" class="layui-select" lay-append-to>
                    <option value="">-- {:lang('全部')} --</option>
                    <option value="1" {if isset($get.status) && $get.status == '1'}selected{/if}>{:lang('已激活')}</option>
                    <option value="0" {if isset($get.status) && $get.status == '0'}selected{/if}>{:lang('已禁用')}</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('最大用户数')}</label>
            <div class="layui-input-inline">
                <input type="number" min="0" name="max_users" value="{$get.max_users|default=''}" placeholder="{:lang('精确匹配')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('用户使用次数')}</label>
            <div class="layui-input-inline" style="width:80px">
                <input type="number" min="0" name="user_limit_min" value="{$get.user_limit_min|default=''}" placeholder="{:lang('最少')}" class="layui-input">
            </div>
            <span class="layui-form-label" style="width:16px;padding:0 5px;text-align:center">-</span>
            <div class="layui-input-inline" style="width:80px">
                <input type="number" min="0" name="user_limit_max" value="{$get.user_limit_max|default=''}" placeholder="{:lang('最多')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('到期时间')}</label>
            <div class="layui-input-inline">
                <input data-date-range name="expire_time" value="{$get.expire_time|default=''}" placeholder="{:lang('请选择到期时间范围')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('创建时间')}</label>
            <div class="layui-input-inline">
                <input data-date-range name="create_at" value="{$get.create_at|default=''}" placeholder="{:lang('请选择创建时间')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-search"></i> {:lang('搜 索')}</button>
            <button type="button" data-form-export="{:url('index')}" class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-export"></i> {:lang('导 出')}</button>
        </div>

    </fieldset>
</form>
